# FastAPI y servidor
fastapi==0.104.1
uvicorn[standard]==0.24.0

# Validación y configuración
pydantic
pydantic-settings

# Base de datos
sqlalchemy==2.0.23
alembic==1.13.1

# Driver para PostgreSQL (producción)
psycopg2-binary==2.9.9

# Testing
pytest 
pytest-cov